doctype html
html
  head
    script(type='text/javascript', src='/common/js/utils.js')
    script(type='text/javascript', src='/common/lib/gl-matrix.js')
    script(type='text/javascript', src='/poc3d/basic/utils.js')
    script(type='text/javascript', src='/poc3d/renderer/program_loader.js')
    script(type='text/javascript', src='/poc3d/renderer/renderer.js')
    script(type='text/javascript', src='/poc3d/renderer/model_loader.js')
    script(type='text/javascript', src='/poc3d/basic/transform.js')
    script(type='text/javascript', src='/poc3d/entities/entity.js')
    script(type='text/javascript', src='/poc3d/entities/dynamic_entity.js')
    script(type='text/javascript', src='/poc3d/entities/drawable.js')
    script(type='text/javascript', src='/poc3d/entities/pickable.js')
    script(type='text/javascript', src='/poc3d/entities/trigger.js')
    script(type='text/javascript', src='/poc3d/libs/howler.min.js')
    script(type='text/javascript', src='/poc3d/libs/easystar-0.4.4.min.js')
    script(type='text/javascript', src='/poc3d/sounds/sound_loader.js')
    script(type='text/javascript', src='/poc3d/basic/scene.js')
    script(type='text/javascript', src='/poc3d/basic/game.js')
    script(type='text/javascript', src='/poc3d/basic/camera.js')
    script(type='text/javascript', src='/poc3d/basic/debug_camera.js')
    script(type='text/javascript', src='/poc3d/basic/tracking_camera.js')
    script(type='text/javascript', src='/poc3d/basic/camera_anchor.js')
    script(type='text/javascript', src='/poc3d/basic/collider.js')
    script(type='text/javascript', src='/poc3d/entities/actors/actor.js')
    script(type='text/javascript', src='/poc3d/entities/point_light.js')
    script(type='text/javascript', src='/poc3d/entities/light.js')
    script(type='text/javascript', src='/poc3d/entities/flimmering_light.js')
    script(type='text/javascript', src='/poc3d/entities/floating_light_bulb.js')
    script(type='text/javascript', src='/poc3d/entities/blocks/background.js')
    script(type='text/javascript', src='/poc3d/entities/blocks/block.js')
    script(type='text/javascript', src='/poc3d/entities/blocks/water_surface.js')
    script(type='text/javascript', src='/poc3d/entities/blocks/lantern.js')
    script(type='text/javascript', src='/poc3d/entities/blocks/floor_button.js')
    script(type='text/javascript', src='/poc3d/entities/blocks/portal.js')
    script(type='text/javascript', src='/poc3d/entities/blocks/save_station.js')
    script(type='text/javascript', src='/poc3d/entities/blocks/door.js')
    script(type='text/javascript', src='/poc3d/entities/blocks/light_sensor.js')
    script(type='text/javascript', src='/poc3d/entities/blocks/ceiling_cannon.js')
    script(type='text/javascript', src='/poc3d/entities/rocket.js')
    script(type='text/javascript', src='/poc3d/entities/homing_rocket.js')
    script(type='text/javascript', src='/poc3d/entities/weapons/launcher.js')
    script(type='text/javascript', src='/poc3d/entities/weapons/double_launcher.js')
    script(type='text/javascript', src='/poc3d/entities/actors/player.js')
    script(type='text/javascript', src='/poc3d/entities/particles/particle_system.js')
    script(type='text/javascript', src='/poc3d/entities/particles/fire.js')
    script(type='text/javascript', src='/poc3d/entities/particles/blue.js')
    script(type='text/javascript', src='/poc3d/entities/particles/smoke.js')
    script(type='text/javascript', src='/poc3d/entities/particles/powerup.js')
    script(type='text/javascript', src='/poc3d/entities/particles/dirt.js')
    script(type='text/javascript', src='/poc3d/entities/particles/water_splash.js')
    script(type='text/javascript', src='/poc3d/entities/actors/patrol_strategy.js')
    script(type='text/javascript', src='/poc3d/entities/actors/boss_strategy.js')
    script(type='text/javascript', src='/poc3d/entities/actors/vacuum_fan.js')
    script(type='text/javascript', src='/poc3d/entities/actors/drone.js')
    script(type='text/javascript', src='/poc3d/entities/actors/lamp_boss.js')
    script(type='text/javascript', src='/poc3d/entities/actors/pool_boss.js')
    script(type='text/javascript', src='/poc3d/entities/actors/water_boss.js')
    script(type='text/javascript', src='/poc3d/entities/powerups.js')
    script(type='text/javascript', src='/poc3d/entities/loot.js')
    script(type='text/javascript', src='/poc3d/item_system/drop.js')
    script(type='text/javascript', src='/poc3d/item_system/consumable.js')
    script(type='text/javascript', src='/poc3d/item_system/skills.js')
    script(type='text/javascript', src='/poc3d/ui/log.js')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    block content
